body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  display: flex;
}
h1 {
  text-align: center;
}

div:not(.container) {
  position: relative;
  margin: 20px;
  border: 3px solid black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 19px;
  font-weight: bold;
  background-color: grey;
}
button {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 35px;
  background-color: rgba(237, 117, 117, 0.593);
  border: 0px solid black;
  border-right: 0px solid black;
  font-weight: bold;
  font-size: 20px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
.button2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 35px;
  background-color: rgba(187, 7, 7, 0.612);
  border-top: 2px;
  border-right: 2px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.button3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 35px;
  background-color: rgba(235, 214, 78, 0.667);
  border-top: 2px;
  border-right: 2px;
  font-weight: bold;
  font-size: 20px;
}
.bl2 {
  display: none;
}
@media (min-width: 600px) and (max-width: 1024px),
  screen and(max-height:700px) and (orientation: landscape) {
  .bl {
    display: none;
  }
  .bl2 {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
